@charset "UTF-8";


body {
	background-color: #ffe7c8;
}

.imgdiv {
	width:100%;
	height:auto;
	text-align: center;	
}

.btn1{
	width:100%;
	height:auto;
	background-color: #a5cb76;
	float:right;
}

table{
	margin:0 auto;
	width: 800px;
	height: 500px;
	border-collapse: collapse;
	border-radius: 5px;
	border-color: #579d2d;
	
}
th {
	height:50px;
	border-bottom: 2px solid #69be36;
	background-color: #ffab66;
}
td {
	text-align:center;
	border-bottom: 3px solid #69be36;
}

.td1{
	width: 10%;
}

.td2{
	width: 20%;
}

.title{
	text-align: left;
}

tr:hover {
	background-color: #cad9a4;
}